*.user
*.cache
*.sdf
*.opensdf
*.suo
*.orig
*.userprefs
*.tar.gz
*.nupkg
.DS_Store
msbuild.log
Scratch/
TestDeployment/
TestResults/
test-results/
packages/
**/obj/**
**/bin/Debug/**
**/bin/Release/**
